<!doctype html>
<html>
<head>
    <title>JJ's dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main class="main wrap">
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> JJ's dashboard</h1>
                Because I like graphs!
            </div>
        </div>
    <div>
</div>
<footer class="footer">
<% include ../partials/footer %>
</footer>
</body>
</html>